 .u-section-1 {
  background-image: none;
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  background-image: linear-gradient(#dd2f37, #f1c50e);
  min-height: 754px;
}

.u-section-1 .u-container-layout-1 {
  padding: 22px 30px;
}

.u-section-1 .u-group-2 {
  width: 813px;
  min-height: 701px;
  box-shadow: 0px -2px 26px 0 rgba(0,0,0,0.25);
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 50px 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    min-height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 647px;
  }

  .u-section-1 .u-group-2 {
    width: 660px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 620px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    width: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 644px;
  }

  .u-section-1 .u-group-2 {
    width: 320px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}