 .u-section-1 {
  background-image: linear-gradient(#de3038, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 813px;
}

.u-section-1 .u-image-1 {
  width: 860px;
  height: 404px;
  margin: 91px auto 0;
}

.u-section-1 .u-group-1 {
  width: 223px;
  min-height: 78px;
  height: auto;
  margin: 57px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 338px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 663px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 254px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 160px;
  }
}