 .u-section-1 {
  background-image: linear-gradient(#de3038, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-group-1 {
  width: 416px;
  min-height: 78px;
  height: auto;
  margin: 23px auto 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 2.25rem;
  width: 289px;
  margin: 10px auto 0;
}

.u-section-1 .u-group-2 {
  width: 417px;
  min-height: 618px;
  height: auto;
  background-image: none;
  margin: 0 auto 60px;
}

.u-section-1 .u-container-layout-2 {
  padding: 16px 0;
}

.u-section-1 .u-form-1 {
  margin: 19px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    margin-left: 87px;
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-group-2 {
    margin-left: 86px;
    height: auto;
  }

  .u-section-1 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    margin-left: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-group-2 {
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }
}