 .u-section-1 {
  background-image: linear-gradient(#de3038, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  margin-top: 13px;
  margin-bottom: 0;
  min-height: 102px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3.75rem;
  margin: 3px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -69px auto 0 47px;
}

.u-section-1 .u-group-2 {
  margin-top: 0;
  margin-bottom: 0;
  min-height: 54px;
  height: auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 15px;
  padding-right: 15px;
}

.u-section-1 .u-text-2 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  margin: 11px auto 0 214px;
}

.u-section-1 .u-text-3 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  margin: -32px 290px 0 auto;
}

.u-section-1 .u-text-4 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  margin: -32px 151px 0 auto;
}

.u-section-1 .u-text-5 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  margin: -32px 464px 0 auto;
}

.u-section-1 .u-text-6 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  margin: -32px auto 0 411px;
}

.u-section-1 .u-text-7 {
  font-family: "Bebas Neue";
  font-size: 1.25rem;
  margin: -32px auto 0 47px;
}

.u-section-1 .u-table-1 {
  margin-top: -7px;
  margin-bottom: 33px;
}

.u-block-8518-42 {
  background-image: none;
}

.u-section-1 .u-table-body-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 381px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 337px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-right: 220px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 289px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 256px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 161px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 166px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 218px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 193px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    margin-left: 99px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 102px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 93px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 134px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 119px;
  }
}