 .u-section-1 {
  background-image: linear-gradient(#de3038, #f1c50e);
}

.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-group-1 {
  width: 441px;
  min-height: 80px;
  height: auto;
  margin: 55px auto 0 81px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-1 .u-text-1 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  margin: 0 17px;
}

.u-section-1 .u-group-2 {
  width: 441px;
  min-height: 50px;
  height: auto;
  margin: -80px 81px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-1 .u-text-2 {
  font-family: "Bebas Neue";
  font-size: 1.875rem;
  margin: 2px 17px 0;
}

.u-section-1 .u-group-3 {
  width: 441px;
  min-height: 552px;
  height: auto;
  margin: 30px auto 0 81px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-table-1 {
  width: 351px;
  margin: 0 0 0 auto;
}

.u-block-8820-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  margin: 0 87px 0 0;
}

.u-section-1 .u-table-cell-7 {
  margin: 0 87px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 30px;
  height: 30px;
  margin: -541px auto 0 33px;
}

.u-section-1 .u-shape-2 {
  width: 30px;
  height: 30px;
  margin: 11px auto 0 33px;
}

.u-section-1 .u-shape-3 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-4 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 33px;
}

.u-section-1 .u-shape-5 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-6 {
  width: 30px;
  height: 30px;
  margin: 13px auto 0 33px;
}

.u-section-1 .u-shape-7 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-8 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 33px;
}

.u-section-1 .u-shape-9 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-10 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 33px;
}

.u-section-1 .u-shape-11 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-12 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-13 {
  width: 30px;
  height: 30px;
  margin: 12px auto 0 33px;
}

.u-section-1 .u-shape-14 {
  width: 30px;
  height: 30px;
  margin: -30px auto 0 33px;
}

.u-section-1 .u-shape-15 {
  width: 30px;
  height: 30px;
  margin: 17px auto 0 33px;
}

.u-section-1 .u-shape-16 {
  width: 30px;
  height: 30px;
  margin: 15px auto 0 33px;
}

.u-section-1 .u-group-4 {
  width: 441px;
  min-height: 399px;
  height: auto;
  margin: -490px 81px 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 0 34px;
}

.u-section-1 .u-group-5 {
  width: 441px;
  min-height: 80px;
  height: auto;
  margin: -479px 81px 0 auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 13px;
  padding-right: 13px;
}

.u-section-1 .u-text-4 {
  font-family: "Bebas Neue";
  font-size: 3rem;
  margin: 0 17px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 427px 119px 60px auto;
  padding: 10px 153px 11px 152px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-group-3 {
    height: auto;
  }

  .u-section-1 .u-group-4 {
    height: auto;
  }

  .u-section-1 .u-group-5 {
    height: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-table-1 {
    width: 340px;
  }

  .u-section-1 .u-table-cell-5 {
    margin-right: 0;
  }

  .u-section-1 .u-table-cell-7 {
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-5 {
    width: 340px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}